.bg-grn{
    background: linear-gradient(to bottom right, rgb(43, 255, 43) -10%, rgb(0, 125, 0) 120%);
}

.bg-red{
    background: linear-gradient(to bottom right, rgb(255, 43, 43) -10%, rgb(125, 0, 0) 120%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    padding: 0 5px; /* adds padding to sides */
    user-select: none; /* prevent text selection */
}

.section{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.section-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: 90%;
    max-width: 350px;
}

/* LOADING */
.loading-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* GAME ERROR MESSAGE */
.game-error-message{
    color: red;
    font-size: 1.5rem;
    font-weight: bolder;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

/* HEARTS */
.love-pokemon .heart{
    height: 50px;
    width: 50px;
}

.saved-pokemon-list .heart{
    height: 25px;
    width: 25px;
}


/* LOVE & LOVED POKEMON */
.love-pokemon{
    gap: 20px;
    text-align: center;
}
.love-pokemon .sparkle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.capture-button{
    padding: 20px 40px;
}

.love-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}

.battle-buttons button{
    background: linear-gradient(to bottom right, rgb(255, 43, 43) -10%, rgb(125, 0, 0) 120%) !important;
}

.love-buttons button,
.battle-buttons button{
    background: linear-gradient(to bottom right, rgb(43, 255, 43) -10%, rgb(0, 125, 0) 120%);
    border: none;
    box-shadow: 1px 1px 4px black;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 100%;
}

.love-buttons img{
    aspect-ratio: 1 / 1;
    height: 50px;
}

.loved-pokemon img.pokemon{
    /* aspect-ratio: 1 / 1; */
    image-rendering: pixelated;
}

.loved-pokemon .image{
    position: relative;
}

/* SAVED POKEMON */
.saved-pokemon{
    border: 1px solid black;
    box-shadow: 1vw 1vw 2vw black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
}

.saved-pokemon .col-left,
.saved-pokemon .col-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved-pokemon .col-left{
    margin-right: auto;
}

.saved-pokemon .col-right{
    gap: 10px;
}

.saved-pokemon .col-right button{
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin: 0 10px;
}